<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: auto;
            background-color: #196F3D;
      
        }
        
        .border {
            border-bottom: 1px solid #F1F1F1;
        }

        .main-secction {
            box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
        }

        .image-section {
            padding: 0px;
        }

            .image-section img {
                width: 100%;
                height: 350px;
                position: relative;
            }

        .user-image {
            position: absolute;
            margin-top: -50px;
        }

        .user-left-part {
            margin: 0px;

        }

        .user-image img {
            width: 100px;
            height: 100px;
        }

        .user-profil-part {
            padding-bottom: 30px;
            background-color: #FAFAFA;
        }

        .follow {
            margin-top: 70px;
        }

        .user-detail-row {
            margin: 0px;
        }

        .user-detail-section2 p {
            font-size: 12px;
            padding: 0px;
            margin: 0px;
        }

        .user-detail-section2 {
            margin-top: 10px;
        }

            .user-detail-section2 span {
                color: #7CBBC3;
                font-size: 20px;
            }

            .user-detail-section2 small {
                font-size: 12px;
                color: #D3A86A;
            }

        .profile-right-section {
            padding: 20px 365px 10px 0px;
            background-color: #FFFFFF;
        }

        .profile-right-section-row {
            margin: 0px;
        }

        .profile-header-section1 h1 {
            font-size: 25px;
            margin: 0px;
        }

        .profile-header-section1 h5 {
            color: #0062cc;
        }

        .req-btn {
            height: 30px;
            font-size: 12px;
        }

        .profile-tag {
            padding: 10px;
            border: 1px solid #F6F6F6;
        }

            .profile-tag p {
                font-size: 12px;
                color: black;
            }

            .profile-tag i {
                color: #ADADAD;
                font-size: 20px;
            }


        .img-circle {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 50%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                @* //  фото верхнього фону (листя)*@
                <img src="https://img.tsn.ua/cached/1538126808/tsn-0aac7b3bbd08e91384419d4ae49bc10f/thumbs/1340x530/87/83/b6f76129059ee99facbdd66f220d8387.jpeg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    @*//фото користувача і кнопки*@
                    <div class="row ">

                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">

                                <div class="img-circle user-image" style="background-image: url('https://assets.teenvogue.com/photos/57a4ac9e9a3823d758b555c2/master/w_2001,h_3000,c_limit/vanessa-hudgens-beauty-evo-2016-3.jpg');"></div>

                            </div>
                        </div>
                        <br /><br /><br /><br /><br />
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <a asp-controller="Home" asp-action="Add"><button class="btn btn-success btn-block follow">Add employee</button></a>
                            <br/>
                            <a asp-controller="Home" asp-action="RedugEmployee"><button class="btn btn-warning btn-block">Redug employee</button></a>
                        </div>


                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            @*// і'мя  і посада*@
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>Juan Perez</h1>
                                    <h5>Developer</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    @*// контент все про користувача*@
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> Basic information</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> Additional Information</a>
                                        </li>
                                    </ul>

                                    Tab panes
                                    <br /><br />
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>ID</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>509230671</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Firstname</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Juan</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Lastname</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Perez</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Position</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>12345678</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Department</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Developer</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="buzz">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Expert</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Hourly Rate</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>10$/hr</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Many hours worked</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>230</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
