@model IEnumerable<Diary.Models.Employee>
<!DOCTYPE html>
<html>
<body>
    <br />
    <h2>Update Form</h2>
    <form method="post">
        <div class="block">
            <label>Name:</label><br />
            <input name="Name_Event" /><br />
            <label>Start Date:</label><br />
            <input type="date" name="Start_Date_Event" min="2020-10-01" max="2021-01-01"><br />
            <label>End Date:</label><br />
            <input type="date" name="End_Date_Event" min="2020-10-01" max="2021-01-01"><br />
            <button type="submit">Create</button><br/>
            @foreach (Employee item in Model)
            {
                <label>@item.Fname</label><br/>
            }
        </div>
    </form>
</body>
</html>